<!DOCTYPE html>
<html>
    <head>
        <title>My WebSite</title>
    </head>
    <body>
        {{> header }}             
        <p>{{ message }}</p>        
        {{> footer }}
    </body>
</html>
